/*
!compile_start_run.sh
!create_studentdb.sh
!.gitignore
!/simpledb
/simpledb/*
!/simpledb/parse
!/simpledb/planner
/simpledb/parse/*
/simpledb/planner/*
!/simpledb/parse/Lexer.java
!/simpledb/parse/Parser.java
!/simpledb/parse/AggQueryData.java
!/simpledb/planner/AggQueryPlanner.java
