/*
!compile_start_run.sh
!create_studentdb.sh
!run_interpreter.sh
!run_tests.sh
!.gitignore
!/simpledb
!/tests
!/studentClient
/simpledb/*
/studentClient/*
!/simpledb/parse
!/simpledb/planner
!/simpledb/server
!/simpledb/query
!/studentClient/simpledb
/simpledb/parse/*
/simpledb/planner/*
/simpledb/server/*
/simpledb/query/*
/studentClient/simpledb/*
!/simpledb/parse/Lexer.java
!/simpledb/parse/Parser.java
!/simpledb/parse/AggQueryData.java
!/simpledb/planner/AggQueryPlanner.java
!/simpledb/planner/Planner.java
!/simpledb/server/SimpleDB.java
!/simpledb/query/AggregatePlan.java
!/simpledb/query/AggregateScan.java
!/studentClient/simpledb/CreateStudentDB.java

